<template>
<div>
    <vue-markdown>{{content}}</vue-markdown>
</div>
</template>

<script>
import VueMarkdown from "vue-markdown";
export default {
    props: ['content'],
    components: {
        "vue-markdown": VueMarkdown
    }
}
</script>
