<template>
<div class="pa-5">
    <v-img :src="image" width="100%" contain dark></v-img>
</div>
</template>

<script>
export default {
    props: ['image'],
    metaInfo() {
        return {
            meta: [
                {
                    property: 'og:image',
                    content: this.image
                }
            ]
        }
    },
}
</script>
