<template>
<div class="pa-5">
    <div v-if="title">
        <h1>{{title}}</h1>
        <h3 v-if="category">{{category}} | {{toDate(date)}}</h3>
        <h3 v-else> {{toDate(date)}}</h3>
        <div class="mt-3">
            <v-btn icon :href="`https://www.facebook.com/sharer/sharer.php?u=${url}&title=${title}&description=${description}&quote=${title}`" target="_blank">
                <v-icon>mdi-facebook</v-icon>
            </v-btn>
            <v-btn icon :href="`http://twitter.com/share?text=${title} - ${description}&url=${url}`" target="_blank">
                <v-icon>mdi-twitter</v-icon>
            </v-btn>
        </div>
        <p class="mt-3">{{description}}</p>
    </div>
</div>
</template>

<script>
export default {
    props: ['title', 'description', 'category', 'date'],
    metaInfo() {
        return {
            title: this.title,
            meta: [{
                    name: 'description',
                    content: this.title
                },
                {
                    property: 'og:title',
                    content: this.title
                },
                {
                    property: 'og:site_name',
                    content: this.title
                },
                {
                    property: 'og:description',
                    content: this.description
                },
                {
                    property: 'og:locale',
                    content: 'es_CO'
                },
                {
                    property: 'og:type',
                    content: 'website'
                },
                {
                    property: 'og:url',
                    content: this.url
                }
            ]
        }
    },
    data() {
        return {
            url: window.location.href
        }
    },
    methods: {
        toDate: (d) => {
            const months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
            const date = new Date(d);
            const year = date.getFullYear();
            const month = months[date.getMonth()];
            const day = date.getDate();
            return `${month} ${day}, ${year}`
        }
    },
}
</script>
