<template>
<div>
    <audio ref="videoPlayer" class="video-js" preload="auto" :poster="image" :source="source" type="audio/mp3"></audio>
</div>
</template>

<script>
require('video.js/dist/video-js.css')

import videojs from 'video.js';
export default {
    name: "VideoPlayer",
    props: {
        image: null,
        source: null
    },
    data() {
        return {
            player: null,
            options: {
                autoplay: false,
                controls: true,
                width: '100%',
                sources: [{
                    src: this.source,
                    type: "audio/mp3",

                }],
                controlBar: {
                    fullscreenToggle: false,
                    pictureInPictureToggle: false
                }
            }
        }
    },
    mounted() {
        this.player = videojs(this.$refs.videoPlayer, this.options, function onPlayerReady() {
            console.log('onPlayerReady', this);
        })
        this.player.addClass('videoC');
    },
    beforeDestroy() {
        if (this.player) {
            this.player.dispose()
        }
    }
}
</script>

<style lang="scss">
.videoC {
    width: 100%;
    min-height: 420px;
    display: block;
    transition: all .65s;

    .vjs-big-play-button {
        border: 3px solid #212121 !important;
        background-color: #fff;
        border-radius: 0;

        .vjs-icon-placeholder {
            color: #212121;

            ::before {
                color: #212121;
            }
        }
    }
}

.videoC:hover {
    box-shadow: 2px 3px 10px #4f4f4f;

    .vjs-big-play-button {
        background-color: #e5e5e5 !important;
    }
}
</style>
