<template>
<div>
    <h2>Crónicas</h2>
    <v-row>
        
        <v-col cols="12" sm="12" md="12" lg="12">
            <v-row v-if="story">
                <v-col cols="12" sm="12" md="4" lg="4" class="d-flex" v-for="(item, index) in story" :key="index">
                    <v-card class="mx-auto " outlined tile :to="`/opinion/${item.slug}`">
                        <v-img :src="item.content.image.filename" height="300px" contain dark />
                        <v-card-title>
                            {{item.content.title}}
                        </v-card-title>
                        <v-card-subtitle>
                            {{item.content.shortDescription}}
                        </v-card-subtitle>
                        <v-card-text>
                            {{toDate(item.created_at)}} - {{item.content.category}}
                        </v-card-text>
                    </v-card>
                </v-col>
                <v-col cols="12" sm="12" v-if="story.length === 0" class="text-center">
                    <h3>No se encontraron resultados</h3>
                </v-col>
                <v-col cols="12" class="text-center">
                    <v-btn color="primary" outlined tile @click="loadMore()" v-if="moreBtn.show" :loading="moreBtn.loading">
                        Cargar más
                    </v-btn>
                </v-col>
            </v-row>
            <v-row v-else>
                <v-col cols="12" md="6" lg="6" v-for="(item, index) of [,,,]" :key="index">
                    <v-sheet color="grey lighten-4" tile class="pa-1">
                        <v-skeleton-loader class="mx-auto" max-width="100%" type="image, article" tile></v-skeleton-loader>
                    </v-sheet>
                </v-col>
            </v-row>
        </v-col>
    </v-row>
</div>
</template>

<script>
import StoryblokClient from 'storyblok-js-client'

const token = process.env.VUE_APP_STORYBLOK;

let storyapi = new StoryblokClient({
    accessToken: token
})

export default {
    name: 'homeArticles',
    data() {
        return {
            story: null,
            categories: null,
            selectedCategory: 'Crónicas',
            moreBtn: {
                loading: false,
                show: true
            },
            page: {
                total: 0,
                actual: 1,
                per_page: 100,
            }
        }
    },
    created() {
        window.storyblok.init({
            accessToken: token
        })
        window.storyblok.on('change', () => {
            this.getStory('articles', 'draft')
        })
        window.storyblok.pingEditor(() => {
            if (window.storyblok.isInEditor()) {
                this.getStory('articles/', 'draft');
                this.getCategories('draft');
            } else {
                this.getStory('articles/', 'published');
                this.getCategories('published');
            }
        })
    },
    methods: {
        loadMore() {
            if (this.page.total > this.story.length) {
                this.page.actual++;
                this.getStory('articles/', 'published');
            } else {
                this.moreBtn.show = false;
            }
        },
        setCategory(name) {
            if (name === 'Todos') {
                this.selectedCategory = null;
            } else {
                this.selectedCategory = name;
            }
            this.story = null;
            this.page.actual = 1;
            this.moreBtn.show = true;
            this.getStory('articles/', 'published');
        },
        getCategories(version) {
            storyapi.get('cdn/stories/_categorias', {
                    version: version,
                })
                .then((response) => {
                    this.categories = response.data.story.content.categories;
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        getStory(slug, version) {
            this.loadMore.loading = true;
            let filter = null;
            if (this.selectedCategory !== null) {
                filter = {
                    'category': {
                        'in': this.selectedCategory
                    }
                }
            }
            storyapi.get('cdn/stories/', {
                    version: version,
                    starts_with: slug,
                    sort_by: 'content.published_at',
                    filter_query: filter,
                    per_page: this.page.per_page,
                    page: this.page.actual
                })
                .then((response) => {
                    this.loadMore.loading = false;
                    this.page.total = response.total;
                    if (this.story === null) {
                        this.story = response.data.stories;
                        
                    } else {
                        this.story = this.story.concat(response.data.stories);
                    }
                    if (this.story.length === this.page.total) {
                        this.moreBtn.show = false;
                    }
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        toDate: (d) => {
            const months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
            const date = new Date(d);
            const year = date.getFullYear();
            const month = months[date.getMonth()];
            const day = date.getDate();
            return `${month} ${day}, ${year}`
        }
    }
}
</script>
