<template>
<div>
    <v-row justify="center" v-if="story">
        <v-col cols="12" sm="10" md="8" lg="6" class="article-content">
            <h2>EVENTOS</h2>
            <v-timeline dense>
                <v-timeline-item color="primary" small v-for="(item, index) in story" :key="index">
                    <div class="py-4">
                        <span class="font-weight-bold">{{toDate(item.content.date)}}</span>
                        <h2 class="mb-0">{{item.content.title}}</h2>
                        <div>
                            {{item.content.description}}
                        </div>
                    </div>
                </v-timeline-item>
            </v-timeline>
        </v-col>
    </v-row>
    <v-row justify="center" v-else>
        <v-col cols="12" sm="10" md="8" lg="6" class="article-content">
            <h2>EVENTOS</h2>
            <v-timeline dense>
                <v-timeline-item color="primary" small v-for="(item, index) in [,,]" :key="index">
                    <div class="py-4">
                        <v-skeleton-loader class="mx-auto" max-width="100%" type="article" tile></v-skeleton-loader>
                    </div>
                </v-timeline-item>
            </v-timeline>
        </v-col>
    </v-row>
</div>
</template>

<script>
import StoryblokClient from 'storyblok-js-client'

const token = process.env.VUE_APP_STORYBLOK;

let storyapi = new StoryblokClient({
    accessToken: token
})

export default {
    name: 'Events',
    data() {
        return {
            msg: '',
            story: null
        }
    },
    created() {
        window.storyblok.init({
            accessToken: token
        })
        window.storyblok.on('change', () => {
            this.getStory('articles', 'draft')
        })
        window.storyblok.pingEditor(() => {
            if (window.storyblok.isInEditor()) {
                this.getStory('events/', 'draft')
            } else {
                this.getStory('events/', 'published')
            }
        })
    },
    methods: {
        getStory(slug, version) {
            storyapi.get('cdn/stories/', {
                    version: version,
                    starts_with: slug,
                    sort_by: 'content.published_at',
                    per_page: 50,
                    page: 1
                })
                .then((response) => {
                    this.story = response.data.stories
                })
                .catch((error) => {
                    console.log(error);
                })
        },
        toDate: (d) => {
            const months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
            const date = new Date(d);
            const year = date.getFullYear();
            const month = months[date.getMonth()];
            const day = date.getDate();
            return `${month} ${day}, ${year}`
        }
    }
}
</script>
