<template>
    <div>
        <h2>ÚLTIMOS ARTÍCULOS</h2>

        <v-row v-if="story">
            <v-col cols="12" md="12" lg="6" class="d-flex" v-for="(item, index) in story" :key="index">
                <v-card class="mx-auto" outlined tile :to="`/articulos/${item.slug}`">
                    <v-img :src="item.content.image.filename" height="300px" contain dark/>
                    <v-card-title>
                        {{item.content.title}}
                    </v-card-title>
                    <v-card-subtitle> 
                        {{item.content.shortDescription}}
                    </v-card-subtitle>
                    <v-card-text> 
                        {{toDate(item.created_at)}} - {{item.content.category}}
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
        <v-row v-else>
            <v-col cols="12" md="12" lg="6" v-for="(item, index) of [,,,]" :key="index">
                    <v-sheet color="grey lighten-4" tile class="pa-1">
                        <v-skeleton-loader class="mx-auto" max-width="100%" type="image, article" tile></v-skeleton-loader>
                    </v-sheet>
            </v-col>
        </v-row>
        <v-row>
            <v-col cols="12" class="text-center">
                <v-btn color="primary" outlined tile to="/articulos">
                    Ver Todos los artículos
                </v-btn>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import StoryblokClient from 'storyblok-js-client'

const token = process.env.VUE_APP_STORYBLOK;

let storyapi = new StoryblokClient({
  accessToken: token
})  

export default {
  name: 'homeArticles',
  data () {
    return {
      msg: '',
      story: null
    }
  },
  created () {
    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {
      this.getStory('articles', 'draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {        
        this.getStory('articles/', 'draft')
      } else {
        this.getStory('articles/', 'published')
      }
    })
  },
  methods: {
    getStory(slug, version) {
      storyapi.get('cdn/stories/', {
        version: version,
        starts_with: slug,
        sort_by: 'content.published_at',
        per_page: 16,
        page: 1
      })
      .then((response) => {
        this.story = response.data.stories
      })
      .catch((error) => {
        console.log(error);
      })
    },
    toDate: (d) => {
        const months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        const date = new Date(d);
        const year = date.getFullYear();
        const month = months[date.getMonth()];
        const day = date.getDate();
        return `${month} ${day}, ${year}`
    }
  }
}
</script>