<template>
<v-container fluid class="mw">
    <v-row align="start" class="px-5">
        <v-col cols="12" sm="12" md="12" lg="12">
            <section>
                <v-row justify="space-between" align="center" class="article" v-if="article">
                    <v-col cols="12" sm="12" md="5" lg="4">
                        <Title v-if="article" :title="article.content.title" :date="article.first_published_at" :description="article.content.shortDescription" :category="article.content.category" />
                    </v-col>
                    <v-col cols="12" sm="12" md="7" lg="8">
                        <Picture v-if="article" :image="article.content.image.filename" />
                    </v-col>
                </v-row>
                <v-row justify="center" align="center">
                    <v-col cols="12" sm="12" md="10" lg="8" xl="8" class="article-content">
                        <Content v-if="article" :content="article.content.content" />
                        <div v-else>
                            <v-skeleton-loader class="mx-auto" max-width="100%" type="list-item-three-line" tile></v-skeleton-loader>
                            <v-skeleton-loader class="mx-auto" max-width="100%" type="list-item-three-line" tile></v-skeleton-loader>
                            <v-skeleton-loader class="mx-auto" max-width="100%" type="list-item-three-line" tile></v-skeleton-loader>
                        </div>
                    </v-col>
                </v-row>
            </section>
        </v-col>
    </v-row>
</v-container>
</template>

<script>
import Picture from '@/components/details/Picture'
import Title from '@/components/details/Title'
import Content from '@/components/details/Content'

import StoryblokClient from 'storyblok-js-client'

// 2. Set your token
const token = process.env.VUE_APP_STORYBLOK;

// 3. Initialize the client with the preview token so we can access our API easily
// from your space dashboard at https://app.storyblok.com
let storyapi = new StoryblokClient({
    accessToken: token
})

export default {
    name: 'ArticleDetailView',
    components: {
        Title,
        Picture,
        Content
    },
    data() {
        return {
            msg: "",
            article: null
        };
    },
    mounted() {
        window.storyblok.init({
            accessToken: token
        });
        window.storyblok.on("change", () => {
            this.getArticle("draft");
        });
        window.storyblok.pingEditor(() => {
            if (window.storyblok.isInEditor()) {
                this.getArticle("draft");
            } else {
                this.getArticle("published");
            }
        });
    },
    methods: {
        getArticle(version) {
            storyapi
                .get(
                    `cdn/stories/articles/${this.$route.params.id}`, {
                        version: version
                    }
                )
                .then(response => {
                    if (response) {
                        console.log(response)
                        this.article = response.data.story;
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        }
    }
}
</script>
