<template>
   <v-container fluid class="mw">
    <v-row align="start">
      <v-col cols="12" sm="12" md="12" lg="12">
        <AboutUs/>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import AboutUs from '@/components/about-us/AboutUs'
export default {
    name: 'AboutView',
    metaInfo: {
        title: 'Artículos - Bogotimes'
    },
    components: {
        AboutUs
    }
}
</script>
