<template>
<v-container fluid class="mw">
    <v-row align="start">
        <v-col cols="12" sm="12" md="12" lg="12">
            <Articles />
        </v-col>
    </v-row>
</v-container>
</template>

<script>
import Articles from '@/components/articles/Articles'
export default {
    name: 'ArticlesView',
    metaInfo: {
        title: 'Artículos - Bogotimes'
    },
    components: {
        Articles
    }
}
</script>
