<template>
  <v-container fluid class="mw">
    <v-row align="start">
      <v-col cols="12" sm="12" md="12" lg="12">
        <Events/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Events from '@/components/events/Events'
export default {
  name: 'EventsView',
  metaInfo: {
    title: 'Eventos - Bogotimes'
  },
  components: {
    Events,
  }
}
</script>
