<template>
  <v-container fluid class="mw">
    <v-row align="start">
      <v-col cols="12" sm="12" md="12" lg="12">
        <HistoryArticles/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import HistoryArticles from '@/components/history-articles/HistoryArticles'
export default {
  name: 'HistoryView',
  metaInfo: {
    title: 'Cita con la historial - Bogotimes'
  },
  components: {
    HistoryArticles,
  }
}
</script>
