<template>
  <v-container fluid class="mw">
    <v-row align="start">
      <v-col cols="12" sm="6" md="6" lg="8">
        <Articles/>
      </v-col>
      <v-col cols="12" sm="6" md="6" lg="4" class="article-content">
        <HistoryArticles />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Articles from '@/components/home/articles/Articles'
import HistoryArticles from '@/components/home/history-articles/HistoryArticles'
export default {
  name: 'Home',
  components: {
    Articles,
    HistoryArticles
  },
  methods: {
    share() {
      navigator.share({
        title: 'lorem uipsum',
        url: 'http://www.google.com',
        text: 'lorem ipsum dolor sit amet credula postero'
      });
    }
  },
}
</script>
