<template>
    <div>
        <h2>CITA CON LA HISTORIA</h2>
        <v-row v-if="story">
            <v-col cols="12" sm="6" md="6" lg="4" class="d-flex" v-for="(item, index) in story" :key="index">
                <v-card class="mx-auto" outlined tile :to="`/cita-con-la-historia/${item.slug}`">
                    <v-img :src="item.content.image.filename" height="300px" contain dark>
                        <div class="player">
                            <v-icon x-large dark>mdi-play-circle</v-icon>
                        </div>
                     </v-img>
                    <v-card-title>
                        {{item.content.title}}
                    </v-card-title>
                    <v-card-subtitle>
                        {{item.content.shortDescription}}
                    </v-card-subtitle>
                    <v-card-text> 
                        {{toDate(item.created_at)}}
                    </v-card-text>
                </v-card>
            </v-col>
             <v-col cols="12" class="text-center">
                <v-btn color="primary" outlined tile @click="loadMore()" v-if="moreBtn.show" :loading="moreBtn.loading">
                    Cargar más
                </v-btn>
            </v-col>
        </v-row>
        <v-row v-else>
            <v-col cols="12" md="6" lg="4" v-for="(item, index) of [,,,,]" :key="index">
                    <v-sheet color="grey lighten-4" tile class="pa-1">
                        <v-skeleton-loader class="mx-auto" max-width="100%" type="image, article" tile></v-skeleton-loader>
                    </v-sheet>
            </v-col>
        </v-row>
    </div>
</template>

<script>
import StoryblokClient from 'storyblok-js-client'

const token = process.env.VUE_APP_STORYBLOK;

let storyapi = new StoryblokClient({
  accessToken: token
})  

export default {
  name: 'homeHistory',
  data () {
    return {
      msg: '',
      moreBtn: {
          loading: false,
          show: true
      },
      page: {
          total: 0,
          actual: 1,
          per_page: 1,
      },
      story: null
    }
  },
  created () {
    window.storyblok.init({
      accessToken: token
    })
    window.storyblok.on('change', () => {
      this.getStory('articles', 'draft')
    })
    window.storyblok.pingEditor(() => {
      if (window.storyblok.isInEditor()) {        
        this.getStory('history/', 'draft')
      } else {
        this.getStory('history/', 'published')
      }
    })
  },
  methods: {
    loadMore() {
        if(this.page.total > this.story.length) {
            this.page.actual++;
            this.getStory('history/', 'published');
        } else {
            this.moreBtn.show = false;
        }
    },
    getStory(slug, version) {
      this.loadMore.loading = true;
      storyapi.get('cdn/stories/', {
        version: version,
        starts_with: slug,
        sort_by: 'content.published_at',
        per_page: 50,
        page: 1
      })
      .then((response) => {
        this.loadMore.loading = false;  
        if(this.page.total === 0) {
            this.page.total = response.total;
        }
        if(this.story === null) {
           this.story = response.data.stories;
        } else {
           this.story = this.story.concat(response.data.stories);
        }
        if(this.story.length === this.page.total) {
            this.moreBtn.show = false;
        }
      })
      .catch((error) => {
        console.log(error);
      })
    },
    toDate: (d) => {
        const months = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'];
        const date = new Date(d);
        const year = date.getFullYear();
        const month = months[date.getMonth()];
        const day = date.getDate();
        return `${month} ${day}, ${year}`
    }
  }
}
</script>