<template>
    <v-container>
        <v-row justify="center" align="center">
                    <v-col cols="12" sm="12" md="10" lg="8" xl="8" class="article-content">
                        <h2>QUIÉNES SOMOS</h2>
                        <p>
                            El Bogotimes nace por la iniciativa de un grupo de profesores y ciudadanos conscientes de la importancia de la historia, especialmente la clásica, que junto con el arte y la filosofía, componen toda nuestra base cultural.  
                        </p>
                    </v-col>
                    <v-col cols="12" sm="12" md="10" lg="8" xl="8" class="article-content">
                        <h2>STAFF</h2>
                        <p>
                            <b>Directora:</b><br>
                            Anne McAnn <br><br>
                            <b>Editor:</b><br>
                            Eric Dörk <br><br>
                            <b>Redacción:</b><br>
                            Rafael Fonnegra <br><br>
                            <b>Colaboradores:</b><br>
                            Andrés Pardo de Brigard<br> Joaquín González Valle<br> Pedro Antonio Pardo (PAPARD)<br> Antonio Alvarez Campos 
                        </p>
                    </v-col>
                    <v-col cols="12" sm="12" md="10" lg="8" xl="8" class="article-content">
                        <h2>CONTACTO</h2>
                        <p>
                            <b>E-mail:</b><br> Bogotimes@aol.com<br><br> <b>Celular:</b><br> 57-3502636030
                        </p>
                    </v-col>
                </v-row>
    </v-container>
</template>