<template>
<v-app>
    <v-system-bar window color="primary" dark class="sysh">
        <span class="mx-3 spant">{{ today }}</span>
        <v-spacer></v-spacer>
        <span class="mx-3 spant">Síguenos:</span>
        <v-btn icon color="blue" small href="https://www.facebook.com/Bogotimes-Newspaper-269064496766976/" target="_blank">
            <v-icon color="blue lighten-4">mdi-facebook</v-icon>
        </v-btn>
        <!--v-btn icon x-small><v-icon small>mdi-instagram</v-icon></v-btn-->
    </v-system-bar>
    <v-navigation-drawer v-model="drawer" absolute temporary>
        <v-list dense color="transparent" class="menu">
            <v-list-item link to="/">
             <v-list-item-content>
                    <v-list-item-title><v-icon>mdi-home</v-icon></v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link to="/actualidad">
                <v-list-item-content>
                    <v-list-item-title>ACTUALIDAD</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
             <v-list-item link to="/notas">
                <v-list-item-content>
                    <v-list-item-title>BUZÓN</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
             <v-list-item link to="/arte">
                <v-list-item-content>
                    <v-list-item-title>ARTE</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link to="/cita-con-la-historia">
                <v-list-item-content>
                    <v-list-item-title>CITA CON LA HISTORIA</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link to="/cronicas">
                <v-list-item-content>
                    <v-list-item-title>CRÓNICAS</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link to="/lectura">
                <v-list-item-content>
                    <v-list-item-title>LECTURA</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link to="/opinion">
                <v-list-item-content>
                    <v-list-item-title>OPINIÓN</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item link to="/quienes-somos">
                <v-list-item-content>
                    <v-list-item-title>QUIÉNES SOMOS</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <!--v-list-item link to="/eventos">
                <v-list-item-content>
                    <v-list-item-title>EVENTOS</v-list-item-title>
                </v-list-item-content>
            </v-list-item-->
        </v-list>
    </v-navigation-drawer>
    
            <v-card to="/" tile flat class="d-flex justify-center logo-btn" active-class="no-active"  v-if="!small">
                <v-img alt="Logo" v-if="!small" class="shrink" contain src="@/assets/logo-big.svg" transition="scale-transition" width="630" />
            </v-card>
           
    <v-app-bar app color="transparent" class="margin-header" absolute light flat>
        <v-app-bar-nav-icon v-if="small" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
         <v-spacer  v-if="small"></v-spacer>
         <v-card to="/" tile flat class="d-flex justify-center mt-5" active-class="no-active"  v-if="small">
            <v-img alt="Logo" v-if="small" class="shrink" contain src="@/assets/logo-big.svg" transition="scale-transition" width="280" />
        </v-card>
    
        <v-spacer></v-spacer>
        <v-btn to="/actualidad" text color="primary" tile depressed class="mx-1" v-if="!small">
            ACTUALIDAD
        </v-btn>
        <v-btn to="/notas" text color="primary" tile depressed class="mx-1" v-if="!small">
            BUZÓN
        </v-btn>
        <v-btn to="/arte" text color="primary" tile depressed class="mx-1" v-if="!small">
            ARTE
        </v-btn>
        
        <v-btn to="/cita-con-la-historia" text color="primary" tile depressed class="mx-1" v-if="!small">
            CITA CON LA HISTORIA
        </v-btn>
        <v-btn to="/cronicas" text color="primary" tile depressed class="mx-1" v-if="!small">
            CRÓNICAS
        </v-btn>
        <v-btn to="/lectura" text color="primary" tile depressed class="mx-1" v-if="!small">
            LECTURA
        </v-btn>
        <v-btn to="/opinion" text color="primary" tile depressed class="mx-1" v-if="!small">
            OPINIÓN
        </v-btn>
          <v-btn to="/quienes-somos" color="primary" text tile class="mx-1" v-if="!small">
                ¿QUIÉNES SOMOS?
            </v-btn>
        
        <v-spacer  v-if="!small"></v-spacer>
        <!--v-btn to="/donar" color="purple lighten-4" tile depressed class="mx-1 text--white">
          DONAR
        </v-btn-->
    </v-app-bar>
    <v-main>
        <div class="mt-1">
            <router-view />
        </div>
    </v-main>
    <v-footer color="secondary" padless>
        <v-row justify="center" no-gutters>
            <v-btn to="/" color="primary" text tile class="my-2" active-class="no-active">
                <v-icon>mdi-home</v-icon>
            </v-btn>
            
            <v-btn to="/actualidad" color="primary" text tile class="my-2">
                ACTUALIDAD
            </v-btn>
            <v-btn to="/notas" color="primary" text tile class="my-2">
                BUZÓN
            </v-btn>
            <v-btn to="/arte" color="primary" text tile class="my-2">
                ARTE
            </v-btn>
            <v-btn to="/cita-con-la-historia" color="primary" text tile class="my-2">
                CITA CON LA HISTORIA
            </v-btn>
            <v-btn to="/cronicas" color="primary" text tile class="my-2">
                CRÓNICAS
            </v-btn>
            <v-btn to="/lectura" color="primary" text tile class="my-2">
                LECTURA
            </v-btn>
            <v-btn to="/opinion" color="primary" text tile class="my-2">
                OPINIÓN
            </v-btn>
             <v-btn to="/quienes-somos" color="primary" text tile class="my-2">
                QUIÉNES SOMOS
            </v-btn>
            <!--v-btn to="/promociona" color="primary" text tile class="my-2">
          PROMOCIONA
        </v-btn-->
            <!--v-btn to="/terminos-y-condiciones" color="primary" text tile class="my-2">
          TÉRMINOS Y CONDICIONES
        </v-btn-->
            <v-col class="primary py-4 d-flex justify-space-between" cols="12">
                <span class="white--text mx-4">{{ new Date().getFullYear() }} - Bogotimes &copy;</span>
                <span class="white--text mx-4">nanano &reg;</span>
            </v-col>
        </v-row>
    </v-footer>
</v-app>
</template>

<script>
export default {
    name: 'App',
    metaInfo: {
        title: 'Bogotimes Newspaper',
        meta: [{
                name: 'description',
                content: 'El Bogotimes es un periódico gratuito, de historia y arte. Es bilingüe y sale semanalmente'
            },
            {
                property: 'og:title',
                content: 'Bogotimes Newspaper'
            },
            {
                property: 'og:site_name',
                content: 'Bogotimes'
            },
            {
                property: 'og:description',
                content: 'El Bogotimes es un periódico gratuito, de historia y arte. Es bilingüe y sale semanalmente'
            },
            {
                property: 'og:locale',
                content: 'es_CO'
            },
            {
                property: 'og:type',
                content: 'website'
            },
            {
                property: 'og:url',
                content: 'https://www.bogotimes.co'
            }
        ]
    },
    data: () => ({
        drawer: false,
        small: false,
    }),
    computed: {
        today: () => {
            const months = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];
            const year = new Date().getFullYear();
            const month = months[new Date().getMonth()];
            const day = new Date().getDate();
            return `${month} ${day}, ${year}`
        }
    },
    mounted() {
        this.getWindowWidth();
        this.$nextTick(function () {
            window.addEventListener('resize', this.getWindowWidth);
        });
        setTimeout(() => {
            this.time = true
        }, 200);
    },
    methods: {
        getWindowWidth() {
            const width = window.innerWidth;
            if (width < 1084) {
                this.small = true;
            } else {
                this.small = false;
            }
        }
    }
};
</script>

<style lang="scss">
@import "./App.scss";
</style>
