@import "~vuetify/src/styles/styles.sass";

$body-font-family: 'Open Sans'!important;
$heading-font-family: 'Crimson Text'!important;

.v-application, .menu .v-list-item__title{
    font-family: 'Crimson Text', 'Times New Roman', Times, serif!important;
}

.v-card__title, h1, h2, .v-subheader{
    font-weight: bold;
    text-transform: uppercase;
    word-break: normal!important;
}

.v-subheader {
    font-size: 18px!important;
    font-weight: bold!important;
}

.v-card__subtitle, .v-card__text, p, .v-list-item__title {
    font-family: 'Open Sans'!important;
}

.v-btn--active.no-active::before {                                                                             
    opacity: 0 !important;
}

.v-system-bar--window .v-icon {
    margin: 0!important;
}


.v-image.theme--dark {
    background-color: #212121;
}
.mw {
    max-width: 1420px!important;
}

.logo-btn {
    padding-top: 5px!important;
}

.margin-header {
    margin-top: 185px!important;
}

.active-cat {
    background: rgba(33,33,33,.2);
}

.adp {
    background-color: #333;
    display: inline-block;
    padding: 2px 5px;
    span {
        font-size: 12px;
        color: #fff
    }
}

.player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.article {
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 15%, rgba(245,245,245,1) 15%);
}

.article-content {
    border: thin solid rgba(0, 0, 0, 0.12); 
    background: #fcfcfc;
}


.sysh {
    height: 50px!important;
}

.spant {
    font-size: 20px;
}

@media only screen and (max-width: 1083px) {
    .logo-btn {
        height: 60px!important;
    }

    .margin-header {
        margin-top: 50px!important;
    }
}